@{
    Layout = "~/Views/Shared/MISLayout.cshtml";
}


@using MIS442Store.DataLayer.DataModels
@model List<Registration>




<table>
    <thead>
        

        <tr>
            <th> Registration ID</th>
            <th> Registration Date</th>
            <th> Registration Serial Number</th>
            <th> Registration User Name</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var registration in Model)
        {
            <tr>

                <td> @registration.RegistrationID</td>
                <td> @registration.RegistrationDate</td>
                <td> @registration.RegistrationSerialNumber</td>
                <td> @registration.RegistrationUserName</td>
                <td> @Html.ActionLink("Add", "AddRegistration", "Registration")</td>
<td>@Html.ActionLink("Edit", "Edit", "EditRegistration", new { @id = registration.RegistrationID }, null)</td>
                <td>@Html.ActionLink("Delete", "Delete", "DeleteRegistration", new { @id = registration.RegistrationID }, null)</td>

            </tr>
        }
    </tbody>
   
</table>
