
@using MIS442Store.DataLayer.DataModels
@model List<Product>

@Html.ActionLink("Add Product","Add", "Product")

<table>
 
        <tr>
            <th> Product Name</th>
            <th> Product Code</th>
            <th> Product Version</th>
            <th> Product Release Date</th>
        </tr>
 
    
        @foreach (var product in Model)
        {
        <tr>
            <td>@Html.ActionLink("Edit Product", "Edit", "Product", new { @id = product.ProductID }, null)</td>
            <td> @product.ProductName</td>
            <td> @product.ProductCode</td>
            <td> @product.ProductVersion</td>
            <td> @product.ProductReleaseDate</td>
          </tr>
        }
      
        
            </table>
        